body{
  background-color:#F4C2C2;
}

img{
  width: 300px;
  height:400px;
}

img{
  border-radius: 20px;
}

/* unvisited link */
a:link {
  color:blue;
}

/* visited link */
a:link {
  color: red;
}
  
