body{
  background-color:F4C2C2;
}

#sky{
  position:relative;
  left: 300px;
}

img{
  width: 200px;
  height:400px;
}

img{
  border-radius: 20px;
}

/* unvisited link */
a:link {
  color:blue;
}

/* visited link */
a:link {
  color: red;
}
  
